## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## Resultados de compilacion
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.dll
*.pdb

## NuGet
*.nupkg
packages/
